<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه داخلی</title>

    <link rel="stylesheet" href="/static/main/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/main/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/main/buttons.dataTables.min.css">
    <link rel="stylesheet" href="/static/main/main.css">
    
    <script src="/static/main/bootstrap.min.js"></script>
    <script src="/static/main/bootstrap.bundle.min.js"></script>
    <!-- JQuery CDN -->
    <script src="/static/main/jquery.min.js"></script>
    <script src="/static/main/jquery.cookie.min.js"></script>
    <!-- ReactJS CDN -->
    <script src="/static/main/babel.min.js"></script>
    <script src="/static/main/react.production.min.js"></script>
    <script src="/static/main/react-dom.production.min.js"></script>
    <script src="/static/main/react-bootstrap.min.js"></script>
    <!-- Datatable CDN -->
    <script src="/static/main/jquery.dataTables.min.js"></script>
    <!-- Datatable Persian Language -->
    <script src="/static/main/fa.json"></script>
    <!-- Datatable Excel Export -->
    <script src="/static/main/jszip.min.js"></script>
    <!-- Datatable Buttons -->
    <script src="/static/main/dataTables.buttons.min.js"></script>
    <script src="/static/main/buttons.html5.min.js"></script>
    <script src="/static/main/buttons.print.min.js"></script>
    <!-- Jalali DatePicker -->
    <link rel="stylesheet" href="/static/main/jalalidatepicker.min.css">
    <script type="text/javascript" src="/static/main/jalalidatepicker.min.js"></script>
    <!-- Config -->
    <script>
        var config = {{ config|safe }};
    </script>
    <script src="/static/main/config.js"></script>
    {% block head %}{% endblock %}
</head>
<body class="bg-primary">
    <div class="row m-1">
        <div class="col-sm-2 m-1 p-1 bg-light rounded">
            <div class="text-center m-2">
                <h2>سامانه داخلی</h2>
                <div>کاربر: {{ request.user.first_name }} {{ request.user.last_name }}</div>
                <div>گروه: {% for group in request.user.groups.all %}<span class="bg-primary text-light rounded m-1 px-1">{{ group.name }}</span>{% endfor %}</div>
            </div>
            <div class="list-group">
                {% if request.user.is_superuser %}<a class="list-group-item list-group-item-action {% if request.path == '/requests'%}active{% endif %}" href="/requests">درخواست های جاری</a>{% endif %}
                <a class="list-group-item list-group-item-action {% if request.path == '/evaluations'%}active{% endif %}" href="/evaluations">درخواست های ارزیابی</a>
                {% if request.user.is_superuser %}<a class="list-group-item list-group-item-action {% if request.path == '/presence'%}active{% endif %}" href="/presence">حضور غیاب کارگروه / شورا</a>{% endif %}
                {% if request.user.is_superuser %}<a class="list-group-item list-group-item-action {% if request.path == '/users'%}active{% endif %}" href="/users">مدیریت کاربران</a>{% endif %}
                <a class="list-group-item list-group-item-action" href="/logout">خروج</a>
            </div>
        </div>
        <div class="col m-1 p-1 bg-light rounded">
            {% block sidepanel %}{% endblock %}
        </div>
    </div>
</body>
</html>
